In [130]:
import pandas as pd #Lương Nhật Hào - 2374802010128
import numpy as np

Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề “Missing header in the csv file”

In [131]:
import pandas as pd

df = pd.read_csv("patient_heart_rate.csv", header=None, engine='python', on_bad_lines='skip')
display(df)

       0               1     2           3    4     5     6     7     8     9
0    1.0    Mickéy Mousé  56.0       70kgs   72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs    -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN    -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs   78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs    -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs    -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs    -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs   78    76    75     -     -     -
8    NaN             NaN   NaN         NaN  NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN  NaN  None  None  None  None  None
10   9.0     Huey McDuck  52.0      189lbs    -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs    -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs   78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN   65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN    -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs    -     -     -    68    75    72

In [132]:
# problem 1
# thêm header vào dataframe để diễn giải dữ liệu
column_names = ["Id", "Name", "Age", "Weight","m0006",'m0612','m1218','f0006','f0612','f1218']
# Đọc file dữ liệu
df = pd.read_csv(
    "patient_heart_rate.csv",
    names=column_names,
    header=None,
    on_bad_lines='skip'
)
# Hiển thị một vài dòng dữ liệu đầu tiên ra màn hình
print(df.head(18))

      Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs    78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN    65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN     -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs     -     -     -    68    75    72

Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [133]:
#Problem 2
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [134]:
# Problem 3
# Get the Weight column
weight = df["Weight"]

for i in range(0, len(weight)):
    x = str(weight[i])
    # Incase lbs is part of observation remove
    if "lbs" in x[-3:]:
        # Remove the lbs from the value
        x = x[:-3]
        # Convert string to float
        float_x = float(x)
        # Convert to kgs and store as int
        y = int(float_x / 2.2)
        # Convert back to string
        y = str(y) + "kgs"
        weight[i] = y

df

/tmp/ipython-input-2109208435.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2109208435.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2109208435.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2109208435.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2109208435.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ

In [135]:
# Cách 1: Viết liền một dòng (giống ý gốc)
df.dropna(how="all", inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [136]:
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [137]:
df.Firstname.replace({r'^\x00-\x7F]+':''}, regex=True, inplace=True)
df.Lastname.replace({r'^\x00-\x7F]+':''}, regex=True, inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

/tmp/ipython-input-3675890096.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'^\x00-\x7F]+':''}, regex=True, inplace=True)
/tmp/ipython-input-3675890096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'^\x00-\x7F]+':''}, regex=True, inplace=True)
/tmp/ipython-input-3675890096.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'^\x00-\x7F]+':''}, regex=True, inplace=True)
/tmp/ipython-input-3675890096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'^\x00-\x7F]+':''}, regex=True, inplace=True)

Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
đề xuất từ chuyên gia như sau:
a. Deletion: Remove records with missing values
b. Dummy substitution: Replace missing values with a dummy but valid value:
e.g.: 0 for numerical values.
c. Mean substitution: Replace the missing values with the mean.
d. Frequent substitution: Replace the missing values with the most frequent item.
e. Improve the data collector: Your business folk will talk to the clients and inform
them about why it is worth fixing the problem with the data collector.
……
Yêu cầu:
- Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
- Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì
phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng
o Age: Giá trị thay thế là mean của các giá trị trong cột Age

In [138]:
# Vấn đề 7: Missing values

# 0. Chuyển cột Weight sang dạng số (loại bỏ 'kgs' hoặc 'kg')
df.loc[:, 'Weight'] = df['Weight'].astype(str).str.replace('kgs', '').str.replace('kg', '')
df.loc[:, 'Weight'] = pd.to_numeric(df.loc[:, 'Weight'], errors='coerce')

# 1. Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
print("=== Thống kê dữ liệu thiếu ===")
print(f"Số giá trị thiếu trong cột Age: {df['Age'].isna().sum()}")
print(f"Số giá trị thiếu trong cột Weight: {df['Weight'].isna().sum()}")
print(f"\nTổng số dòng: {len(df)}")
print(f"Số dòng thiếu cả Age và Weight: {(df['Age'].isna() & df['Weight'].isna()).sum()}")

# 2. Xử lý dữ liệu thiếu
# Bước 1: Xóa các dòng thiếu cả Age và Weight
df = df[~(df['Age'].isna() & df['Weight'].isna())]

# Bước 2: Điền giá trị mean cho cột Age nếu thiếu
age_mean = df['Age'].mean()
df.loc[:, 'Age'] = df['Age'].fillna(age_mean)

# Bước 3: Điền giá trị mean cho cột Weight nếu thiếu
weight_mean = df['Weight'].mean()
df.loc[:, 'Weight'] = df['Weight'].fillna(weight_mean)

print("\n=== Sau khi xử lý ===")
print(f"Số giá trị thiếu trong cột Age: {df['Age'].isna().sum()}")
print(f"Số giá trị thiếu trong cột Weight: {df['Weight'].isna().sum()}")
print(f"Tổng số dòng còn lại: {len(df)}")
print(df)

=== Thống kê dữ liệu thiếu ===
Số giá trị thiếu trong cột Age: 3
Số giá trị thiếu trong cột Weight: 3

Tổng số dòng: 13
Số dòng thiếu cả Age và Weight: 1

=== Sau khi xử lý ===
Số giá trị thiếu trong cột Age: 0
Số giá trị thiếu trong cột Weight: 0
Tổng số dòng còn lại: 12
      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0   70.0    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0   70.0     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0   71.3     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1   78.0    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0   90.0     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0   85.0     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0   56.0     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0   78.0    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0   45.0     -     -     -    92    95    87     Louie   McDuck
12  11.0  36.1   60.0    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0   71.3    65    67    55     -     -     -    Michel     Long
15  15.0  52.0   81.0     -     -     -    68    75    72       NaN      NaN

/tmp/ipython-input-3800307080.py:24: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'Weight'] = df['Weight'].fillna(weight_mean)

Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
Còn giá trị thì là kết quả huyết áp.

In [139]:
df = pd.melt(
    df,
    id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
    value_name='PulseRate',
    var_name='sex_and_time'
).sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

# Extract Sex, hour lower bound and hour upper bound
tmp_df = df['sex_and_time'].str.extract(r'(\D+)(\d{2})(\d{2})', expand=True)

# Rename columns
tmp_df.columns = ['sex', 'hours_lower', 'hours_upper']

# Create Time column based on hours_lower and hours_upper columns
tmp_df['Time'] = tmp_df['hours_lower'] + '-' + tmp_df['hours_upper']

# Merge
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna()

df.to_csv('outputcleanup.csv', index=False)
print(df)

      Id   Age Weight Firstname Lastname PulseRate sex   Time
0    1.0  56.0   70.0    Mickéy    Mousé        72   m  00-06
12   1.0  56.0   70.0    Mickéy    Mousé        69   m  06-12
24   1.0  56.0   70.0    Mickéy    Mousé        71   m  12-18
36   1.0  56.0   70.0    Mickéy    Mousé         -   f  00-06
48   1.0  56.0   70.0    Mickéy    Mousé         -   f  06-12
..   ...   ...    ...       ...      ...       ...  ..    ...
22  12.0  34.0   71.3    Michel     Long        67   m  06-12
34  12.0  34.0   71.3    Michel     Long        55   m  12-18
46  12.0  34.0   71.3    Michel     Long         -   f  00-06
58  12.0  34.0   71.3    Michel     Long         -   f  06-12
70  12.0  34.0   71.3    Michel     Long         -   f  12-18

[65 rows x 8 columns]

11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng
phương pháp sau
• Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không
được thì dùng 2)
• Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được
thì dùng 3)
• Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì
dùng 4)
• Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 5).
• Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng
6)
• Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định
trong y học.

In [140]:
# Vấn đề 11: Xử lý dữ liệu thiếu trên biến PulseRate

# Chuyển PulseRate sang dạng số
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')

# Khảo sát tỉ lệ dữ liệu thiếu
total_rows = len(df)
missing_count = df['PulseRate'].isna().sum()
missing_rate = (missing_count / total_rows) * 100

print("=== Khảo sát dữ liệu thiếu trên PulseRate ===")
print(f"Tổng số dòng: {total_rows}")
print(f"Số giá trị thiếu: {missing_count}")
print(f"Tỉ lệ thiếu: {missing_rate:.2f}%")

# Giá trị huyết áp ổn định trong y học (nhịp tim bình thường: 60-100 bpm)
NORMAL_PULSE = 75

# Hàm xử lý missing values theo thứ tự ưu tiên
def fill_pulse_rate(group):
    group = group.sort_values('Time').reset_index(drop=True)
    pulse = group['PulseRate'].copy()

    for i in range(len(pulse)):
        if pd.isna(pulse.iloc[i]):
            # 1. Trung bình liền trước và liền sau
            if i > 0 and i < len(pulse) - 1:
                prev_val = pulse.iloc[i-1]
                next_val = pulse.iloc[i+1]
                if pd.notna(prev_val) and pd.notna(next_val):
                    pulse.iloc[i] = (prev_val + next_val) / 2
                    continue

            # 2. Trung bình 2 giá trị liền trước
            if i >= 2:
                prev1 = pulse.iloc[i-1]
                prev2 = pulse.iloc[i-2]
                if pd.notna(prev1) and pd.notna(prev2):
                    pulse.iloc[i] = (prev1 + prev2) / 2
                    continue

            # 3. Trung bình 2 giá trị liền sau
            if i < len(pulse) - 2:
                next1 = pulse.iloc[i+1]
                next2 = pulse.iloc[i+2]
                if pd.notna(next1) and pd.notna(next2):
                    pulse.iloc[i] = (next1 + next2) / 2
                    continue

            # 4. Trung bình các giá trị huyết áp của người đó
            person_mean = pulse.dropna().mean()
            if pd.notna(person_mean):
                pulse.iloc[i] = person_mean
                continue

            # Đánh dấu cần xử lý theo giới tính (sẽ xử lý sau)
            pulse.iloc[i] = np.nan

    group['PulseRate'] = pulse.values
    return group

# Áp dụng hàm xử lý theo từng người (Firstname, Lastname)
df = df.groupby(['Firstname', 'Lastname'], group_keys=False).apply(fill_pulse_rate, include_groups=False)

# Thêm lại các cột Firstname, Lastname nếu bị mất
if 'Firstname' not in df.columns:
    df = df.reset_index()

# 5. Trung bình theo nhóm giới tính
sex_means = df.groupby('sex')['PulseRate'].transform('mean')
df['PulseRate'] = df['PulseRate'].fillna(sex_means)

# 6. Trung bình toàn bộ dữ liệu hoặc mức ổn định y học
overall_mean = df['PulseRate'].mean()
if pd.notna(overall_mean):
    df['PulseRate'] = df['PulseRate'].fillna(overall_mean)
else:
    df['PulseRate'] = df['PulseRate'].fillna(NORMAL_PULSE)

print("\n=== Sau khi xử lý ===")
print(f"Số giá trị thiếu còn lại: {df['PulseRate'].isna().sum()}")
print(df)

=== Khảo sát dữ liệu thiếu trên PulseRate ===
Tổng số dòng: 65
Số giá trị thiếu: 33
Tỉ lệ thiếu: 50.77%

=== Sau khi xử lý ===
Số giá trị thiếu còn lại: 0
    index   Id   Age Weight  PulseRate sex   Time
0       0  7.0  19.0   56.0  74.666667   m  00-06
1       1  7.0  19.0   56.0  71.000000   f  00-06
2       2  7.0  19.0   56.0  74.500000   m  06-12
3       3  7.0  19.0   56.0  78.000000   f  06-12
4       4  7.0  19.0   56.0  76.500000   m  12-18
..    ...  ...   ...    ...        ...  ..    ...
60      1  8.0  32.0   78.0  77.000000   f  00-06
61      2  8.0  32.0   78.0  76.000000   m  06-12
62      3  8.0  32.0   78.0  75.500000   f  06-12
63      4  8.0  32.0   78.0  75.000000   m  12-18
64      5  8.0  32.0   78.0  75.250000   f  12-18

[65 rows x 7 columns]

12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành
công với tên file patient_heart_rate_clean.csv
Lưu ý: Ngoài ra còn rất nhiều vấn đề về mặt xử lý dữ liệu dựa trên nhiều khía cạnh khác
nhau tùy vào sự am hiểu về dữ liệu của các chuyên gia như:
• Handling dates
• Correcting character encodings (a problem you hit when you scrape data off the
web)

In [141]:
# Vấn đề 12: Rút gọn & sắp xếp lại dữ liệu

print("Cột hiện có:", df.columns.tolist())

# Reset index nếu thiếu cột quan trọng
if 'Firstname' not in df.columns or 'Lastname' not in df.columns:
    df = df.reset_index()
    print("Đã reset index để khôi phục Firstname/Lastname")

# Thứ tự cột mong muốn (chỉ giữ cột tồn tại)
desired = ['Id', 'Firstname', 'Lastname', 'Age', 'Weight', 'sex', 'Time', 'PulseRate']
df = df[[c for c in desired if c in df.columns]]

# Sắp xếp theo các cột có sẵn
sort_by = [c for c in ['Id', 'Firstname', 'Lastname', 'sex', 'Time'] if c in df.columns]
if sort_by:
    df = df.sort_values(sort_by)

# Reset index sạch sẽ
df = df.reset_index(drop=True)

# Làm tròn số thập phân (nếu có cột)
for col in ['Age', 'Weight', 'PulseRate']:
    if col in df.columns:
        df[col] = df[col].round(1)

# In thông tin tóm tắt
print("\n=== Kết quả sau khi xử lý ===")
print(f"- Số dòng: {len(df)}")
print(f"- Số cột: {len(df.columns)}")
print(f"- Cột: {df.columns.tolist()}")
print("\nKiểu dữ liệu:\n", df.dtypes)
print("\nDữ liệu mẫu (10 dòng đầu):\n", df.head(10))

# Lưu file
df.to_csv('patient_heart_rate_clean.csv', index=False, encoding='utf-8')
print(f"\nĐã lưu thành công: patient_heart_rate_clean.csv")
print(f"Tổng số bản ghi: {len(df)}")

Cột hiện có: ['index', 'Id', 'Age', 'Weight', 'PulseRate', 'sex', 'Time']
Đã reset index để khôi phục Firstname/Lastname

=== Kết quả sau khi xử lý ===
- Số dòng: 65
- Số cột: 6
- Cột: ['Id', 'Age', 'Weight', 'sex', 'Time', 'PulseRate']

Kiểu dữ liệu:
 Id           float64
Age          float64
Weight        object
sex           object
Time          object
PulseRate    float64
dtype: object

Dữ liệu mẫu (10 dòng đầu):
     Id   Age Weight sex   Time  PulseRate
0  1.0  56.0   70.0   f  00-06       70.5
1  1.0  56.0   70.0   f  06-12       70.0
2  1.0  56.0   70.0   f  12-18       70.5
3  1.0  56.0   70.0   m  00-06       72.0
4  1.0  56.0   70.0   m  06-12       69.0
5  1.0  56.0   70.0   m  12-18       71.0
6  2.0  34.0   70.0   f  00-06       85.0
7  2.0  34.0   70.0   f  06-12       84.0
8  2.0  34.0   70.0   f  12-18       76.0
9  2.0  34.0   70.0   m  00-06       81.7

Đã lưu thành công: patient_heart_rate_clean.csv
Tổng số bản ghi: 65